<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="vendors/linericon/style.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="vendors/nouislider/nouislider.min.css">

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div th:insert="fragments/menu :: menu"></div>
<!-- ================ trending product section start ================= -->

<section class="section-margin calc-60px">
    <div  class="container">
        <div class="section-intro pb-60px">
            <p>The best sporting goods in Romania and much more!</p>
            <h2>Check out <span class="section-intro__style">our products!</span></h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-3" th:each="productDTO:${productDTOlist}">
                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="card-img" th:src="${'data:image/png; base64, '+productDTO.image}" alt="">
                    </div>
                    <div class="card-body">
                        <p th:text="${productDTO.category}"></p>
                        <h4 class="card-product__title"><a th:text="${productDTO.name}"
                                                           th:href="@{/product/{x}(x=${productDTO.id})}"></a></h4>
                        <p th:text="'$'+${productDTO.price}" class="card-product__price"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ trending product section end ================= -->
<!--================ Start footer Area  =================-->
<footer>
    <div class="footer-bottom">
        <div class="container">
            <div class="row d-flex">
                <p class="col-lg-12 footer-text text-center"> Copyright BAM Sporting Goods &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</p>
            </div>
        </div>
    </div>
</footer>
<!--================ End footer Area  =================-->
</body>
</html>