<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="vendors/linericon/style.css">
  <link rel="stylesheet" href="vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="vendors/nice-select/nice-select.css">
  <link rel="stylesheet" href="vendors/nouislider/nouislider.min.css">

  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div th:insert="fragments/menu :: menu"></div>
<section class="cart_area">
  <div class="container">
    <div class="cart_inner">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Order ID</th>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="customerOrderDTO:${customerOrderDTOList}">
            <td>
              <h5 th:text="${customerOrderDTO.orderID}"></h5>
            </td>
            <td>
              <div th:each="chosenProductDTO:${customerOrderDTO.chosenProductDTOList}">
                <h5 style="margin-bottom: 5px; color: #eb6716" th:text="${chosenProductDTO.productDTO.name}"></h5>
              </div>
            </td>
            <td>
              <div th:each="chosenProductDTO:${customerOrderDTO.chosenProductDTOList}">
                <p th:text="${chosenProductDTO.quantity}"></p>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="footer-bottom">
    <div class="container">
      <div class="row d-flex">
        <p class="col-lg-12 footer-text text-center"> Copyright BAM Sporting Goods &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</p>
      </div>
    </div>
  </div>
</footer>
</body>
</html>