<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/vendors/linericon/style.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="/vendors/nouislider/nouislider.min.css">

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:insert="fragments/menu :: menu"></div>
<!--================Single Product Area =================-->
<div class="product_image_area" th:object="${productDTOToGet}">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="owl-carousel owl-theme s_Product_carousel owl-loaded owl-drag">
                    <div class="single-prd-item">
                        <img style="min-width: 100%" class="img-fluid"
                             th:src="${'data:image/png; base64, '+productDTOToGet.image}" alt="">
                    </div>
                    <!-- <div class="single-prd-item">
                        <img class="img-fluid" src="img/category/s-p1.jpg" alt="">
                    </div>
                    <div class="single-prd-item">
                        <img class="img-fluid" src="img/category/s-p1.jpg" alt="">
                    </div> -->
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3 th:text="${productDTOToGet.name}"></h3>
                    <h2 th:text="'$'+${productDTOToGet.price}"></h2>
                    <ul class="list">
                        <li><span>Category: </span><span
                                th:text="${productDTOToGet.category}"></span></li>
                        <li><span>Availability: </span><span
                                th:text="${productDTOToGet.quantity}"></span></li>
                    </ul>
                    <p th:text="${productDTOToGet.description}"></p>
                    <div class="product_count">
                        <form th:object="${chosenProductDTO}"
                              th:action="@{/product/{productId}(productId=${productDTOToGet.id})}" method="post">
                            <label style="margin-top: 20px" sec:authorize="hasRole('ROLE_ADMIN')" for="qty">Add Quantity:</label>
                            <label style="margin-top: 20px" sec:authorize="hasRole('ROLE_USER')" for="qty">Quantity:</label>
                            <input required min="1" th:max="${productDTOToGet.quantity}" th:field="*{quantity}"
                                   type="number" name="qty" id="sst" size="2" maxlength="12" value="1" title="Quantity:"
                                   class="input-text qty">
                            <button style="font-size: 14px; margin-left: 15px" sec:authorize="hasRole('ROLE_USER')" class="btn btn-dark" type="submit"> Add to
                                cart
                            </button>
                            <button style="font-size: 14px; margin-left: 15px" sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-dark" type="submit"> Update
                                quantity
                            </button>
                        </form>
                    </div>
                    <div>
                        <h6 sec:authorize="hasRole('ROLE_ADMIN')">If you wish to remove the item, press the button below!</h6>
                        <form th:action="@{/product/remove/{productId}(productId=${productDTOToGet.id})}"
                              method="post">
                            <button sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-danger"
                                    type="submit"> Remove item
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->
<footer>
    <div class="footer-bottom">
        <div class="container">
            <div class="row d-flex">
                <p class="col-lg-12 footer-text text-center"> Copyright BAM Sporting Goods &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>